.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
h1 {font: 20pt/10pt Hand, cursive}

h2 {
    font: bold italic 150% serif; 
}



.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
